@keyframes raise {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.services-wrap {
    position: absolute;
    height: 770px;
    width: 100%;
    // top: 0;
    // left: 50%;
    background-color: #fff;
    .service-container {
        position: absolute;
        width: 100%;
        height: 100%;
        .service-item {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            transition: all .3s;
            @media screen and (max-width: 1320px) {
                width: 180px;
                height: 180px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                width: 180px;
                height: 180px;
            }
            @media screen and (min-width: 1380px) {
                width: 200px;
                height: 200px;
            }
            .item-icon {
                font-size: 60px;
            }
            .item-title {
                margin-top: 10px;
                font-size: 30px;
                font-weight: 900 ;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        .service-item:hover {
            transform: scale(1.2) ;
            box-shadow: 5px 5px 20px 0px #a2a2a2;
        }
        .queue-item {
            @media screen and (max-width: 1320px) {
                left: 165px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                left: 170px;
            }
            @media screen and (min-width: 1380px) {
                left: 270px;
            }
            top: 300px;
            border:5px double #109efc;
            animation: raise .2s .7s linear  backwards;
            .item-title {
                color:#109efc;
            }
        }
        .subscribe-item {
            @media screen and (max-width: 1320px) {
                left: 335px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                left: 370px;
            }
            @media screen and (min-width: 1380px) {
                left: 480px;
            }
            top: 150px;
            border:5px dashed rgb(21, 245, 133);
            color:rgb(21, 245, 133);
            animation: raise .2s .9s linear  backwards;
            .item-title {
                color:rgb(21, 245, 133);
            }
        }
        .scene-item {
            @media screen and (max-width: 1320px) {
                left: 565px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                left: 640px;
            }
            @media screen and (min-width: 1380px) {
                left: 730px;
            }
            top: 150px;
            border:5px dashed #1890ff;
            animation: raise .2s 1.1s linear  backwards;
            .item-title {
                color:#1890ff;
            }
        }
        .urgent-item {
            @media screen and (max-width: 1320px) {
                left: 730px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                left: 830px;
            }
            @media screen and (min-width: 1380px) {
                left: 930px;
            }
            top: 300px;
            border:5px dashed #eccb52fc;
            animation: raise .2s 1.3s linear  backwards;
            .item-title {
                color:#eccb52fc;
            } 
        }
        .message-item {
            @media screen and (max-width: 1320px) {
                width: 250px;
                height: 250px;
              }
            @media (min-width: 1320px) and (max-width: 1380px) {
                width: 250px;
                height: 250px;
            }
            @media screen and (min-width: 1380px) {
                width: 270px;
                height: 270px;
            }
            top: 400px;
            left: 50%;
            margin-left: -135px;
            border:20px ridge #109efc;
            animation: raise .3s .5s linear  backwards;
            .item-title {
                color:#109efc;
            }
        }
    }
}
