.h_pro_table {
    background-color: #fff;
    padding: 10px;

    .customer_info {
        font-size: 24px;
        display: flex;

        .item {
            line-height: 40px;
        }
    }


    .list_title {
        margin: 30px 0 10px 0;
        font-size: 20px;
    }

    .btn_list {
        padding: 28px 0;
        border-top: 1px solid #f0f0f0;
        display: flex;
        justify-content: space-around;
        // .float_r {
        //     width: 50%;
        //     float: right;
        // }

        // .float_r::before {
        //     content: '';
        //     visibility: hidden;
        //     display: block;
        //     clear: both;
        //     height: 0;
        // }
    }


}