.h_pro_table {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}
.h_pro_table .customer_info {
  font-size: 24px;
}
.h_pro_table .customer_info div {
  line-height: 40px;
}
.h_pro_table .list_title {
  margin: 30px 0 10px 0;
  font-size: 20px;
}
.h_pro_table .btn_list {
  padding: 28px 0;
  border-top: 1px solid #f0f0f0;
}
.h_pro_table .btn_list .float_r {
  width: 50%;
  float: right;
}
.h_pro_table .btn_list .float_r::before {
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}
