.main-wrap {
    height: auto;
    // padding: 120px 70px 20px 70px;11
      .main-container {
        position: relative;
        width: 1200px;
        // margin: 0 auto ;11
        margin: 20px auto;
        background-color: #fff;
        // min-height: 797px; 11
        min-height: 85vh;
        // overflow: hidden;11
        overflow: hidden;//防止动画溢出产生滚动条
      }
}

/* 路由前进时的入场/离场动画 */
.forward-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .forward-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s;
  } 
  
  .forward-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .forward-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .3s;
  }
  
  /* 路由后退时的入场/离场动画 */
  .back-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .back-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s;
  }
  
  .back-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .back-exit-active {
    opacity: 0;
    transform: translate(100%);
    transition: all .3s;
  }
