.queue-container {
    .full-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: all .5s;
        cursor: pointer;
        z-index: 99;
    }
    .full-btn-move {
        opacity: 1;
    }
    .qr-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 11.1%;
        height: 22.5%;
        background-color: #fff;
        .qr-code {
            width: 100%;
            height: 100%
        }
    }
}