.queue-container {
  width: 100%;
  background-color: #fff;
}
.queue-container .full-btn {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 6px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 99;
}
.queue-container .full-btn-move {
  opacity: 1;
  background-color: rgba(0, 110, 255, 0.308);
}
.queue-container .qr-wrap {
  margin-top: 3vw;
  width: 100%;
  background-color: #fff;
}
.queue-container .qr-wrap .qr-code {
  width: 100%;
  height: 100%;
}
