.queue-container {
    --Fontsize: 2.3vh;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    position: relative;

    .full-btn {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        padding: 6px;
        transition: all .5s;
        cursor: pointer;
        z-index: 99;
    }

    .full-btn-move {
        opacity: 1;
        background-color: rgba(0, 110, 255, 0.308);
    }

    .qr-wrap {
        margin-top: 6vw;
        width: 100%;
        // background-color: #fff;
        margin-bottom: 80px;

        .qr-code {
            width: 100%;
            height: 100%
        }

        .qr-tip {
            padding-top: 10px;
            text-align: center;
            font-size: var(--Fontsize);
            letter-spacing: 3px;
            line-height: 1.2;
        }
    }

    .alter {
        border: 1px solid #8adcff;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        background-color: #e6f9ff;

        .alter_title {
            text-align: center;
            font-size: 2.2vh;
        }

        .alter_body {
            margin-top: 6px;
            font-size: 2.0vh;
            line-height: 1.4;
            // text-align: center;
        }
    }

    .dandelions {
        position: absolute;
        bottom: 0;

        .item {
            opacity: 0.4;
            position: absolute;
            width: 8vh;

            animation: Fly 12s calc(var(--d)*3s) linear infinite,
                Float 6s linear infinite;
        }

        @keyframes Fly {
            0% {
                transform: translate(calc(var(--i)*6vw), 0);
            }

            100% {
                transform: translate(calc(var(--i)*20vw), -90vh);
                opacity: 0;
            }
        }

        @keyframes Float {
            0% {
                top: 0;
            }

            50% {
                top: 20px;
            }

            100% {
                top: 0px;
            }
        }
    }
}

@media screen and (max-height:900px) {
    .queue-container {
        --Fontsize: 20px;
    }
}